<div class="relative">
        <input
          type="search"
          placeholder="Buscar..."
          class="w-56 rounded-full border border-orange-300 bg-white py-1 pl-3 pr-8 text-sm text-gray-900 placeholder:text-gray-400 outline-none focus:border-orange-400"
        >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="pointer-events-none absolute right-2 top-1/2 h-4 w-4 -translate-y-1/2 text-orange-400"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="m21 21-4.35-4.35m0 0a7.5 7.5 0 1 0-10.607 0 7.5 7.5 0 0 0 10.607 0Z"
          />
        </svg>
      </div>